/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1d2d3c;
}

/* nav */
#logo_bar {
    background-color: #112030;
}
.nav_container {
    max-width: 1600px;
    margin: 0 auto;
}
.nav_container img {
    width: 60px;
    padding: 24px 0;
}
.filter-green{
    filter: invert(48%) 
            sepia(79%) 
            saturate(2476%) 
            hue-rotate(86deg) 
            brightness(118%) 
            contrast(119%);
}


/* main */
.my_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    padding: 0;
}
.my_list_item {
    width: calc(100% / 3 - 90px / 3 * 2);
    
}
.my_card {
    height: 100%;
    padding: 40px 44px;
    background-color: #112030;
    color: #ffffff;
    text-align: center;
}
.my_card img {
    margin-bottom: 30px;
    padding: 10px;
}
.card-body {
    padding: 0;
}